* { margin: 0; padding: 0; 
box-sizing: border-box;  /* text-transform: capitalize; */
}
body { 
min-height: 100vh;	/* overflow: hidden; */
font-family: 'Roboto', sans-serif;
}
.polnvid{position: absolute;}
#particles-js{ height:100vh; z-index: -3;
background-color: rgb(22, 102, 28); 
}
.heading{
color: rgb(4, 9, 53);
font-size: 20px;
text-align: center;
padding: 2px;
}
.container{
display: grid;
grid-template-columns: 2fr 1fr;
gap: 15px;
align-items: flex-start;
padding: 5px 2%;
}
.container .main-video{ /* background: #9acaec; */
border-radius: 10px;  padding: 5px;
}
.container .main-video video{
width: 100%;
border-radius: 5px;
}    
.container .main-video .title{
color: #bce9ee;
font-size: 20px;
padding-top: 10px; padding-left: 35px;
padding-bottom: 5px;
}
.container .video-list{
background: #583083;
border-radius: 15px;
height: 680px;
overflow-y: scroll;
}
.container .video-list::-webkit-scrollbar{
    width: 7px;
}
.container .video-list::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 50px;
}
.container .video-list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 50px;
}
.container .video-list .vid video{
    width: 100px;
    border-radius: 5px;
}
.container .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}
.container .video-list .vid:hover{
    color: #eee;
}
.container .video-list .vid:active{
    color: #2980b9;
}   
.container .video-list .vid:active .title{
    color: #fff;
}
.container .video-list .vid .title{
    color: #333;
    font-size: 18px;
}
@media(max-width: 990px){
.container{
    grid-template-columns: 2fr 1fr;
    padding: 10px;
}    
}
@media(max-width: 760px){
.container{
    grid-template-columns: 1fr;
}    
}
*{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
