#canvas-basic {
position: absolute;
display: block;
z-index: -3;
width: 100%;
height: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.btn{margin: 0 0 .3rem .2rem;
background-color: rgb(183, 232, 232);
color: #000;
padding: 2px;
border: 1px solid #e03b1e;
border-radius: 30px;
cursor: pointer;
}
.btn:hover{color: green;}
.btnbig{ font-size: 20px;
width: 170px;
height: 30px;
background-color: aquamarine;
padding: 2px;
border: 1px solid #e03b1e;
border-radius: 30px;
cursor: pointer;
}
.btnbig:hover{color: green;}
